.columnGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 5rem;
}
.topRowGroup{
    background-color:  var(--panelColorDark) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width:  var(--stroke2) ;
    border-bottom-color:  var(--accentColorDark) ;
}
.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.leftColumn {
    padding-left: 5rem !important;
}

.rightColumn {
    padding-right: 5rem !important;
}
.definedHeightRuleName{
	height: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.definedHeight {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13rem;
}

.colorSwatch {
    width: 24rem;
    height: 16rem;
    border-radius: 3rem;
    border: 1rem solid rgba(255, 255, 255, 0.45);
}

.panel {
    position: absolute;
    top: 10rem;
    left: 600rem;
	height: 600rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}

.headerText {
  margin-right: 15rem;
  font-size: 100%;
}
.subtitleRowRuleName{
	 display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-top: 2rem;
    font-size: 15rem !important;
    font-weight: bold;
    padding-bottom: 5rem;
    height: 35rem;
    flex-grow: 1;
}
.subtitleRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 2rem;
    font-size: 15rem !important;
    font-weight: bold;
    padding-bottom: 5rem;
    height: 35rem;
    flex-grow: 1;
}

.centeredSubTitle {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}
.checkboxContainer {
    display: flex;
}

.largeButton {
    &:hover img,
    &:hover svg {
        filter: brightness(1.2) !important;
    }
}

.ToolWhite {
    img, svg {
        filter: brightness(1);
        transition: filter 0.2s ease;
    }
    
    &:hover img,
    &:hover svg {
        filter: brightness(1.3) !important;
    }
}

.sliderFieldWidth {
    width: 100%;
}

.labelWidth {
    min-width: 150rem;
    width: 150rem;
}
.forwardSlash {
    margin-left: 5rem;
    
}
